<nav>
    <ul class="sidebar">
        <li onclick="hideSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26"
                    viewBox="0 -960 960 960" width="26">
                    <path
                        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                        stroke="#A020F0" stroke-width="1.5" />
                </svg></a></li>
        <li><a class="custom-link" href="{{ url_for('main.index') }}">Home</a></li>
        <li><a class="custom-link" href="{{ url_for('main.about') }}">About Me</a></li>
    </ul>
    <ul>
        <li><a class="custom-link" href="{{ url_for('main.index') }}">&nbsp;Purple Music&nbsp;<svg width="32px"
                    height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 11V13M6 8V16M9 10V14M12 7V17M15 4V20M18 9V15M21 11V13" stroke="#A020F0"
                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg></a></li>
        <li class="hideOnMobile"><a class="custom-link" href="{{ url_for('main.index') }}">Home</a></li>
        <li class="hideOnMobile"><a class="custom-link" href="{{ url_for('main.about') }}">About Me</a></li>
        <li class="menu-button" onclick="showSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26"
                    viewBox="0 -960 960 960" width="26">
                    <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                </svg></a></li>
    </ul>
</nav>

<script>
    function showSidebar() {
        const sidebar = document.querySelector(".sidebar")
        sidebar.style.display = 'flex'
    }
    function hideSidebar() {
        const sidebar = document.querySelector(".sidebar")
        sidebar.style.display = 'none'
    }
</script>