{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">YouTube Link to WAV File Converter</h2>
    <form method="POST" action="{{ url_for('main.index') }}">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="url" name="url" placeholder="Enter YouTube URL" required>
            <button type="submit" class="btn btn-primary">Convert & Download</button>
        </div>
    </form>

    {% endif %}
</div>
{% endblock %}