{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Login</h2>
                    <div class="input">
                        <button id="google-login-btn" class="google-button">
                            <i class="fab fa-google"></i>Login with Google
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}